{% extends "base.html.twig" %}

{% block title %}Erreur 403 - Interdit{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Erreur 403 - Interdit</h1>
                <p>Vous n'avez pas les droits nécessaires pour visualiser cette page !</p>
            </div>
        </section>
    </main>
{% endblock %}